/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html{
  height: 100%;
}
body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#283946;
    background-image:linear-gradient(top, #556773 0%, #3E6580 51%);
    background-image:-webkit-linear-gradient(top, #556773 0%, #3E6580 51%);
    background-image:-ms-linear-gradient(top, #556773 0%, #3E6580 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #556773),
        color-stop(0.51, #3E6580)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    text-align: center;
}

/* Portrait layout (default) */
.app {
  width: 70%;
  margin: auto;
  margin-top: 50%;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:22px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
    color: #ECC557;
    margin-bottom: 20px;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.connectForm{
  background-color: rgb(242, 244, 245);
  padding: 10px;
  text-align: center;
  margin: auto;
  border-radius: 5px;
}

.connectForm input{
  display: block;
  width: 100%;
  padding: 10px 0px;
}

.btn_go{
  margin-top: 10px;
  border: none;
  background-color: #ECC557;
  border-radius: 5px;
  color: white;
}

.btn_start{
  width: 200px;
  padding: 10px;
}

.connectForm button{
  background: red;
  padding: 10px 0;
  border:none;
  border-radius: 5px;
  color:white;
  width: 100%;
}

#game{
  display: none;
}

#tapParty{
  display: none;
}

#endGame{
  display: none;
  color:white;
}

#classement{
  display: none;
}

#rules p{
  color: white;
  text-transform: initial;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.3px;
}

.recupPseudo{
  color: #ECC557;
  font-size: 20px;
}

.tap{
  color:#ECC557;
  font-size: 40px;
}

.timer{
  color:white;
}

.finalScore{
  padding: 10px;
  background-color: #ECC557;
  border-radius: 5px;
  border: none;
  color: white;
  margin-bottom: 10px;
}

.btnChoise button{
  width: 49%;
}

table{
  color: white;
  width: 100%;
  border-collapse: collapse;
}

thead{
  border-bottom: 1px solid white;
  color : #ECC557;
}

td{
  border-bottom: 1px solid grey;
  padding: 3px;
}

#chargement{
  color: white;
}

.resetClassement{
  margin-top: 20%;
  background: url(../img/trophies.png) no-repeat center top;
}

.resetClassementdeux{
  margin-top: -80px;
}

#startScreen{

}

.logo_content{
  text-align: center;
  margin-bottom: 20px;
}

.trophy{
  text-align: center;
  margin-bottom: 20px;
}

.width{
  width: 100%;
}

.btnChoise button{
  background-color: transparent;
  border: none;
}
